h1 {
  text-align: center;

}

ul {
  list-style-type: none;
}
.wrapper {
  height: 225px;
  width: auto;
  text-align: left;
  background: lightblue;
  border: 10px;
  border-radius: 10px;
}

ol {
  list-style-type: none;
}

li {
  margin: 5px;
}
