body {
  background-color: silver;
}

h1 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 30px;

}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  margin: 5px;
}

img {
  height: 250px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


nav li a {
    padding: 0 10px;
    color: black;
}

nav li a:hover {
  color: darkblue;
}


#content {
    height: 400px;
    width: auto;
    background-color: white;
    border: solid 8px black;
    border-radius: 8px;
    clear: right;
    align: center;
}

.citations:hover {
  text-decoration: underline;
  cursor:pointer;
  color: darkblue;
}

.home {
  padding-top: 150px;
  padding-bottom: 150px;
  align: center;
}

.calendar {
  height: auto;
  width: auto;
  background-color: white;
  border: solid 8px black;
  border-radius: 8px;
  clear: right;
  align: center;
}
