body {
  background-color: silver;
}

h1 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 30px;

}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
}
.wrapper {
  height: 225px;
  width: auto;
  text-align: left;
  border: 10px;
  border-radius: 10px;
}

ol {
  list-style-type: none;
}

li {
  margin: 5px;
}

img {
  height: 250px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


nav li a {
    padding: 0 10px;
}

#content {

    background-color: white;
    clear: right;
    align: center;
}


.foot {
  text-align: center;
}
