<section id="content">

<h2>Search Recipes</h2>



  <label for="source">Search By: </label>
  <select ng-change="searchType()" ng-model="selectedSource" ng-options="x for x in searchTerm">
  </select>
  <div ng-show="textBox" class="ng-hide">
    <input id="reqKeyword" name="keyword" ng-model="keyword" />
    <button ng-click="searchRecipes()">Submit</button>
  </div>
  <div ng-show="numBox" class="ng-hide">
    <input type="number" id="reqKeyword" name="keyword" ng-model="rating" />
    <button ng-click="searchRecipes()">Submit</button>
  </div>
  <div ng-repeat="recipe in recipes">
    <div>
      <p ng-click="showRecipe(recipe._id)">{{recipe.title}}</p>
      <modal-dialog show='recipe.dialogShown' dialog-title='{{recipe.title}}'>
        <p>Citation: {{recipe.citation}}</p>
        <p>Main Ingredient(s): {{mainIngred}}</p>
        </p>
        <p>Date made: {{recipe.date_made}}</p>
        <p>Rating: {{recipe.rating}}</p>
      </modal-dialog>
    </div>
</div>
<div ng-show="message" class="ng-hide">
<p>No results returned.</p>
</div>

</section>
